@use "../../../styles/variables.scss" as *;

.compContainer {
    width: 100%;
    background-color: $dark;
    a {
        color: $grey-2;
        text-decoration: none;
        transition: color 0.2s;
        font-size: $font-size-base - 0.2rem;

        &:hover {
            color: $grey;
        }
    }

    .logo {
    }

    .listGroup {
        list-style-type: none;
        font-size: $font-size-base - 0.2rem;

        button {
            @extend a;

            &:active {
                color: #49a8e5 !important;
            }

            &:focus {
                color: #49a8e5 !important;
            }

            &:visited {
                color: #49a8e5 !important;
            }
        }
    }

    .icon {
        color: $grey-2;
        transition: color 0.2s;

        &:hover {
            color: $grey;
        }
    }

    .copyright {
        font-size: 0.85rem;
        background-color: $dark-2;
        color: $grey-2;

        a {
            color: $grey-2;
            text-decoration: none;
            &:hover {
                color: $grey-2;
            }
        }
    }

    .address {
        color: $grey-2;
        font-size: $font-size-base - 0.2rem;
    }
    .mediaContact {
        a {
            font-size: $font-size-base - 0.2rem;
            &:hover {
                color: $grey-2 !important;
            }
        }
    }
}
